<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="appointmentForm" (ngSubmit)="addAppointment()">
    <ion-item>
      <ion-label position="floating" for="date">Date</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        name="date"
        formControlName="date"
      />
      @let descErrors = appointmentForm.get('date')?.errors;
      @if(descErrors?.['required']) {
      <div class="invalid-feedback">El date es obligatoria</div>
      } {{mensaje}}
    </ion-item>
    <ion-button
      expand="full"
      type="submit"
      [disabled]="appointmentForm.invalid"
    >
      Save Appointment
    </ion-button>
  </form>
</ion-content>
