// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  // Resto de colores

  /** github **/
  --ion-color-github: #0ccaba;
  --ion-color-github-rgb: 64,120,192;
  --ion-color-github-contrast: #f2f1ec;
  --ion-color-github-contrast-rgb: 255,255,255;
  --ion-color-github-shade: #0ca79a;
  --ion-color-github-tint: #bbd1c4;

  --ion-color-verde: #6c9286;
  --ion-color-verde-rgb: 64,120,192;
  --ion-color-verde-contrast: #f2f1ec;
  --ion-color-verde-contrast-rgb: 255,255,255;
  --ion-color-verde-shade: #537a6e;
  --ion-color-verde-tint: #bbd1c4;

  --ion-color-azulado: #365b6d;
  --ion-color-azulado-rgb: 64,120,192;
  --ion-color-azulado-contrast: #f2f1ec;
  --ion-color-azulado-contrast-rgb: 255,255,255;
  --ion-color-azulado-shade: #214353;
  --ion-color-azulado-tint: #bbd1c4;

  --ion-color-verdeclaro: #bbd1c4;
  --ion-color-verdeclaro-rgb: 64,120,192;
  --ion-color-verdeclaro-contrast: #f2f1ec;
  --ion-color-verdeclaro-contrast-rgb: 255,255,255;
  --ion-color-verdeclaro-shade: #9bb3a5;
  --ion-color-verdeclaro-tint: #bbd1c4;

  --ion-color-blanco: #fbfff8c2;
  --ion-color-blanco-rgb: 64,120,192;
  --ion-color-blanco-contrast: #f2f1ec;
  --ion-color-blanco-contrast-rgb: 255,255,255;
  --ion-color-blanco-shade: #def3d1bb;
  --ion-color-blanco-tint: #bbd1c4;

  --ion-color-verdeoscuro: #506e65;
  --ion-color-verdeoscuro-rgb: 64,120,192;
  --ion-color-verdeoscuro-contrast: #f2f1ec;
  --ion-color-verdeoscuro-contrast-rgb: 255,255,255;
  --ion-color-verdeoscuro-shade: #39584f;
  --ion-color-verdeoscuro-tint: #bbd1c4;
}
