<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-chip [routerLink]="['/physio', appointment().physio]">
          <ion-avatar>
            @if(rol() == "physio") {
            <ion-img
              src="{{ patient()?.avatar }}"
              alt="{{ patient()?.name }}"
            ></ion-img>
            } @else {
            <ion-img
              src="{{ physio()?.avatar }}"
              alt="{{ physio()?.name }}"
            ></ion-img>
            }
          </ion-avatar>
          <ion-label>
            @if(rol() == "physio") {
            {{ patient()?.name }}
            } @else {
            {{ physio()?.name }}
            }
          </ion-label>
        </ion-chip>
      </ion-col>
      <ion-col offset="4">
        @if (rol() == "physio"){
        <ion-button
          shape="round"
          fill="outline"
          color="warning"
          (click)="showAction()"
          ><ion-icon name="ellipsis-horizontal"></ion-icon
        ></ion-button>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-card-title
      routerDirection="forward"
      [routerLink]="['/appointment/', appointment()._id]"
      >Appointment</ion-card-title
    >
    <ion-card-subtitle>
      {{ appointment().date | date : "dd/MM/yyyy" }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="pencil" slot="start"></ion-icon>
        <ion-label
          ><strong>Diagnosis:</strong>
          {{ appointment().diagnosis ?? "Por completar" }}</ion-label
        >
        <!-- <ion-label>{{ appointment().distance }} km</ion-label> -->
      </ion-item>
      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label
          ><strong>Treatment:</strong>
          {{ appointment().treatment ?? "Por Completar" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-icon name="eye" slot="start"></ion-icon>
        <ion-label
          ><strong>Observations:</strong>
          {{ appointment().observations ?? "Por Completar" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label
          ><strong>Status :</strong>
          {{ appointment().status ?? "Por Completar" }}</ion-label
        >
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
