<ion-card color="verdeoscuro">
  <ion-card-content routerDirection="forward"
    [routerLink]="['/profile', patient()._id]">
    <ion-list class="ion-no-padding">

      <ion-item color="verde">
        <ion-icon name="git-branch-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>Name:</strong>
          {{ patient().name ?? "Jane" }}</ion-label
        >
      </ion-item>

      <ion-item color="verdeclaro">
        <ion-icon name="git-merge-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>Surname:</strong>
          {{ patient().surname ?? "Doe" }}</ion-label
        >
      </ion-item>

      <ion-item color="verde">
        <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>BirthDate:</strong>
          {{ patient().birthDate ? (patient().birthDate  | date:'dd/MM/yyyy') : 'Not specified' }}
        </ion-label>
      </ion-item>

      <ion-item color="verdeclaro">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>Address:</strong>
          {{ patient().address ?? "Not specified" }}</ion-label
        >
      </ion-item>

      <ion-item color="verde">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>Insurance Number:</strong>
          {{ patient().insuranceNumber ?? "Not specified" }}</ion-label
        >
      </ion-item>

      <ion-item color="verdeclaro">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label
          ><strong>Email:</strong>
          {{ patient().email ?? "Not specified" }}</ion-label
        >
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
