<ion-card>
  <a routerDirection="forward" [routerLink]="['/events/', physio()._id]"
    ><ion-img
      [src]="physio().avatar"
      [alt]="physio().name"
      style="width: 100%"
    ></ion-img
  ></a>
  <ion-grid>
    <ion-row>
      <ion-col offset="4">
        <!-- @if (physio().mine){
        <ion-button
          shape="round"
          fill="outline"
          color="warning"
          (click)="showAction()"
          ><ion-icon name="ellipsis-horizontal"></ion-icon
        ></ion-button>
        } -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-card-title
      routerDirection="forward"
      [routerLink]="['/events/', physio()._id]"
      >{{ physio().name }}</ion-card-title
    >
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label><strong>Surname:</strong> {{ physio().surname }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label><strong>Email:</strong> {{ physio().email }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label
          ><strong>License number:</strong> {{ physio().licenseNumber }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label
          ><strong>Specialty:</strong> {{ physio().specialty }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
