<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>patient-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="patientForm" (ngSubmit)="addPatient()">
    <ion-list>

    <ion-item lines="none">
      <ion-input label="Name" labelPlacement="floating" formControlName="name" errorText="Name must have 2 letters minimum."></ion-input>
        @if (patientForm.get('name')?.dirty && patientForm.get('name')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Surname" labelPlacement="floating" formControlName="surname" errorText="Surname must have 3 letters minimum."></ion-input>
        @if (patientForm.get('surname')?.dirty && patientForm.get('surname')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Address" labelPlacement="floating" formControlName="address" errorText="Address must have at least 5 letters."></ion-input>
        @if (patientForm.get('address')?.dirty && patientForm.get('address')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Insurance Number" labelPlacement="floating" formControlName="insuranceNumber" errorText="Insurance Number must have 9 letters."></ion-input>
        @if (patientForm.get('insuranceNumber')?.dirty && patientForm.get('insuranceNumber')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Email" labelPlacement="floating" formControlName="email" errorText="Email must be a valid type."></ion-input>
        @if (patientForm.get('email')?.dirty && patientForm.get('email')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
      <ion-input type="password" label="Password" labelPlacement="floating" formControlName="password" errorText="Password is required"></ion-input>
      @if (patientForm.get('password')?.dirty && patientForm.get('password')?.valid) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
    </ion-item>
    <ion-item lines="none">
      <ion-input type="password" label="Repeat password" labelPlacement="floating" formControlName="password2" [valueEquals]="patientForm.get('password')!.getRawValue()" errorText="Passwords don't match"></ion-input>
      @if (patientForm.get('password2')?.dirty && patientForm.get('password2')?.valid) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
    </ion-item>

    <ion-item>
        <ion-label position="floating" for="date">Birth Date</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          name="date"
          formControlName="birthDate"
        />
        @if (patientForm.get('birthDate')?.dirty && patientForm.get('birthDate')?.valid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
    </ion-item>

    <ion-item lines="none">
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
    </ion-item>

    </ion-list>

    @if (newPatient.avatar) {
    <ion-img [src]="newPatient.avatar"></ion-img>
    }

    <ion-button
      expand="full"
      type="submit"
      [disabled]="patientForm.invalid"
    >
      Save Patient
    </ion-button>

  </form>

</ion-content>
