<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Physios</ion-title>
    <!-- meter titulo aqui donde el ts -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar
            debounce="600"
            [(ngModel)]="search"
            (ionInput)="reloadPhysios()"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher
    #refresher
    slot="fixed"
    (ionRefresh)="reloadPhysios(refresher)"
  >
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  @if(role == "admin") {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="toAddForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }

  <ion-list style="padding-bottom: 50px">
    @for (physio of physios(); track physio._id) {
    <physio-card
      [physio]="physio"
      [rol]="role"
      (deleted)="deletePhysio(physio._id!.toString())"
    ></physio-card>
    }
  </ion-list>
</ion-content>
