<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Appointments</ion-title>
    <!-- meter titulo aqui donde el ts -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="light" (click)="showFilters()"
            >Filter</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadAppointments()">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="secondary"
      [routerLink]="['/appointments/add']"
      [routerDirection]="'root'"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list style="padding-bottom: 50px">
    @for (appointment of appointments(); track appointment._id) {
    <appointment-card
      [appointment]="appointment"
      [rol]="role"
    ></appointment-card>
    }
  </ion-list>
  <!-- <ion-infinite-scroll #infinite>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more events..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
