<ion-header [translucent]="true">
  <ion-toolbar color="azulado">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher
    #refresher
    slot="fixed"
    (ionRefresh)="reloadPatients(refresher)"
  >
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  @if(role == "admin") {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="createPatient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }

  <ion-list style="padding-bottom: 50px">
    @for (patient of patients(); track patient._id) {
    <patient-card
      [patient]="patient"
    ></patient-card>
    }
  </ion-list>
</ion-content>
